---
export const partial = true;
---

<header
  class="hero min-h-[50vh] mb-8 rounded-xl overflow-hidden"
  style="background-image: url(https://www.avg.com/hubfs/Blog_Content/Avg/Signal/AVG%20Signal%20Images/how_to_improve_your_gaming_pc_performance_2nd_refresh_signal/How_to_Improve_Your_Gaming_PC_Performance-Thumb.jpg);"
>
  <div class="hero-overlay bg-neutral/70"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md flex flex-col items-center gap-4">
      <h4 class="">Selamat datang di Apalah</h4>
      <h1 class="text-4xl font-semibold uppercase">Cari <span class="underline underline-offset-4 decoration-primary">games populer</span> di platform kami</h1>
      <button class="btn btn-primary font-normal md-ripples">Cari Games</button>
    </div>
  </div>
</header>