---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Halaman 404">
  <section class="flex flex-col items-center justify-center gap-4">
    <h1 class="text-center text-4xl">Halaman tidak ditemukan.</h1>
    <a href="/" class="btn btn-primary btn-lg md-ripples">Ke Beranda</a>
  </section>
</Layout>